// * {outline: 1px solid pink}
body {
  margin: 0;
}

.home-page {
  @include outer-container;

  h1 {
    font-family: $font-stack-helvetica;
    text-align: center;
    margin: auto;
    clear: both;
    color: #444;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 1px 1px #666666;
  }

  li .studio-name {
    font-weight: bold;
    text-align: center;
  }

  .grid-item {
    width: 23%;
    float: left;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 1%;
    margin-left: 1%;
  }
}

@media (max-width: 600px) {
  .home-page {
    .grid-item {
      width: 48%;
    }
  }
}
