* {outline: 1px solid pink}
body {
  margin: 0;
}

.container {
  @include outer-container;
}

.form {
  @include span-columns(6);
  @include shift(3);

  form input {
    width: 75%;
    display: inline-block;
  }

}

h1 {
  font-family: $font-stack-helvetica;
  text-align: center;
  background: pink;
  margin: auto;
  clear: both;
}

.city {
  color: darkcyan;
}
