<div class="home-page">
  <div class="search-form">
    <form>
      <input placeholder="Seattle" type="text" id="city"></input>
      <button id="city-btn">Search</button>
    </form>
  </div>
  <h1>Studios in Seattle</h1>
  <ul class="grid">
    <%= render @studios %>
  </ul>
</div>
