<div class="home-page">
  <div class="wrap">
    <form class="search">
      <input placeholder="Seattle" type="text" id="city" class="search-term"></input>
      <button id="city-btn" class="search-button">
        <i class="fa fa-search" id="search-icon"></i>
      </button>
    </form>
  </div>
  <h1>Explore Dance Studios</h1>
  <ul class="grid">
    <%= render @studios %>
  </ul>
</div>
