<div class="container">
  <h1>I'm the list of studios in <span class="city" contenteditable="true">Seattle</span></h1>
  <%# <ul> %>
  <%#   <% @studios.each do |studio| %1> %>
  <%#     <li><%= studio.name %1></li> %>
  <%#   <% end %1> %>
  <%# </ul> %>
</div>
