<div class="container">
  <div class="search-form">
    <form>
      <input placeholder="Seattle" type="text" id="city"></input>
      <button id="city-btn">Search</button>
    </form>
  </div>
  <h1>The list of studios in Seattle</h1>
  <ul>
    <% @studios.each do |studio| %>
      <li>
        <div class="studio-name"><%= studio.name %></div>
        <%= link_to image_tag(studio.image), studio.facebook_link %>
        <% if studio.url != nil %>
          <div class="studio-url"><%= link_to "Studio Website", studio.url %></div>
        <% end %>
        <%= render "formatted_address", studio: studio %>
      </li>
    <% end %>
  </ul>
</div>
